.body{
    background-color:wheat;
}
.grid__container{
    margin: 200px 650px 0 650px;
    display: grid;
    grid-template-columns: 80px 80px 80px 80px ;
    grid-template-rows: 100px 100px 100px 80px ;
    clip-path: inset(0 0px 0 round 0px);
    border-radius: 8px;
    gap: 7px;
    width: 340px;
    background-color: black;
}
.box1{
    grid-area: 1 / 1 / 2 / 3;
    background-color:white;
    border-top-left-radius: 8px;
}
.box2{
    grid-area: 2 / 1 / 4 / 3;
    background-color:red ;
}
.box3{
    grid-area: 4 / 1 / 5/ 2;
    background-color:black ;
    border-bottom-left-radius: 8px;
}
.box4{
    grid-area: 4 / 2 / 5 / 3;
    background-color:white ;
}
.box5{
    grid-area: 1 / 3 / 2 / 5;
    background-color: orange;
    border-top-right-radius: 8px;
}
.box6{
    grid-area: 3 / 3 / 4 / 4;
    background-color: white;
}
.box7{
    grid-area: 2 / 3 / 3 / 5;
    background-color: orange;
}
.box8{
    grid-area: 3 / 4 / 4 / 5;
    background-color: white;
}
.box9{
    grid-area: 4 / 3 / 5 / 5;
    background-color:white ;
    border-bottom-right-radius: 8px;
}
.dashboard{
    display: grid;
    justify-content: center;
    margin: 100px 200px 100px 200px;
}
.dashboard__wrapper{
    display: grid;
    grid-template-columns: 120px 720px;
    grid-template-rows: 440px;
}
.title{
    color: black;
    margin: 0;
    margin-top: 5px;
    padding-bottom:5px;
}
.dashboard__list{
    grid-column: 1/1;
    grid-row: 1/7;
    background-color: aqua;
}
.dashboard__schedule{
    display: grid;
    grid-template-columns: 120px 120px 120px 120px 120px 120px ;
    grid-template-rows: 160px 120px 160px ;
    grid-template-areas: 
        "first first first first first first"
        "second second therd therd fourth fourth"
        "five five five six six six";
    margin: 0;
    padding-left: 5px;
    align-content: center;;
    grid-auto-flow: row;
    background-color: aquamarine;
}
.dashboard__schedule1{
    grid-area: first;
}
.graphik1{
    width: 100%;
    height: 100%;
}
.dashboard__schedule2{
    grid-area: second;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}
.graphik2{
    width: 100%;
    height: 100%;
}
.dashboard__schedule3{
    grid-area: therd;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}
.graphik3{
    width: 100%;
    height: 100%;
}
.dashboard__schedule4{
    grid-area: fourth ;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
}
.graphik4{
    width: 100%;
    height: 100%;
}
.dashboard__schedule5{
    grid-area: five;
    padding-right: 10px;
    padding-top: 7px;
}
.graphik5{
    width: 100%;
    height: 100%;
}
.dashboard__schedule6{
    grid-area: six; 
    padding-left: 10px;
    padding-top: 10px;
}
.graphik6{
    width: 100%;
    height: 100%;
}
.gallery_container{
    margin: top 40px;
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(500px, 1fr));
    gap: 0.5rem;
    background-color: antiquewhite;
}
.foto_0{
    display: grid;
    place-items:center;
}
.foto_1{
    display: grid;
    grid-area: 1/1/-1/-1;
    height: 500px;
    width: 500px ;
    margin: 10px;
}
.link-button{
    grid-area: 1/1/-1/-1;
    justify-content: center;

    gap: 0.8rem;
    border: 3px solid wheat;
    border-radius: 20px;
    background: orange;
    text-decoration: none;
}










    