/* alexandria-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alexandria';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alexandria-v3-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* alexandria-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alexandria';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/alexandria-v3-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  
:root{
    --bg-color: #0A1117;
    --head-color: white;
    --button-color: #FFCF01; 
    --projects-button-color:#182632;
    --designer-list-color:#37424D; 
    --designer-listcolour:#23C9DE;
    --tools__linktext:#8395A7;
    --font__text:#9AAFC3;
    --newsletter-button-color: #E2C1F9;
    --projects__button-text:#FFB4D3;
    --projects__textbutton-purple:#D387F7;
    --projects__textbutton-blue:#77E6FF;
    --projects__textbutton-grey:#707F8D;    
      font-size: 62.5%;
}
ul{
    margin: 0;
    padding: 0;
}
.body{
    background-color:var(--bg-color);
    box-sizing: border-box;
    
}
.header{
    display: inline-flex;
    padding: 1.6rem;
    justify-content: center;
    align-items: flex-start;
    gap: 16.4rem;
    flex-shrink: 0;
    max-width: 36rem;
    width: 100%;
    margin: 0 auto;
}
.begin__wrapper{
    max-width: 36rem;
    display: flex ;
    flex-direction: column;
    margin: 8rem auto 8rem;
    padding: 0 1.6rem;
    justify-content: center;
}
.projects__wrapper{
    max-width: 36rem;
    display: flex ;
    flex-direction: column;
    margin: 9.9rem auto 0rem;
    padding: 0 1.6rem;
    align-items: center;
}
.cooperation__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.help__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.form__wrapper{
    max-width: 36rem;
}
.supports__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.press__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.blookwork{
    max-width: 36rem;
}
.tech-crunch{
    max-width: 36rem;
}
.podcasts__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.anthony-pompliano{
    max-width: 36rem;
}
.josh-gordon{
    max-width: 36rem;
}
.andrew-stainwold{
    max-width: 36rem;
}
.footer{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.begin__headline{
    color:var(--head-color);
    display: flexbox;
    text-align: center;
    font-family: Alexandria;
    font-size: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.4rem; /* 122.222% */
}
.begin__text{
    color:var(--head-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    margin-left: 2.3rem;
    margin-right: 2.3rem;
    line-height: 2.8rem; /* 155.556% */
}
.begin__link{
    background-color:var(--button-color);
    border-radius: 1.2rem;
    box-shadow: 0rem 0.7rem 3.6rem 0rem rgba(255, 207, 1, 0.20);
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem; /* 200% */
    padding: 0.8rem 2.8rem;
    margin: 4.1rem auto 0rem ;
    justify-content: center;
    align-items: center;
    width: 14.5rem;

}
.projects__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    margin: 0rem;
    line-height: 3.6rem; /* 128.571% */
    width: 32.8rem;
    height: 7.2rem;
}
.projects__list{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.projects__link_pink{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #FFB4D3;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__link_orange{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #FFC24C;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__link_purple{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #D387F7;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__link_purple{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #D387F7;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__link_blue{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #77E6FF;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__link_darkblue{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #23C9DE;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__link_grey{
    display: block;
    text-decoration: none; 
    gap: 0.8rem;
    border-radius: 4.4939rem;
    background: #182632;
    color: #707F8D;
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.6rem; /* 114.286% */
    padding: 1.2rem 1.4rem ;
    margin: 0.6rem 0.6rem;
}
.projects__button{
    gap: 0.4rem;
    background: #182632;
    border: 0;
}
.projects__img{
    border-radius: 2.2rem;
}
.projects__link-general{
    color: var(--bg-color);
    text-align: center;
    display: inline-flex;
    font-family: Montserrat;
    font-size: 1.3rem;
    font-style:normal;
    font-weight:700;
    line-height: 2.4rem;
    padding: 0.2rem 1.2rem;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 10rem;
    background: var(--button-color);
    width: 25.7rem; 
    height:2.4rem;
    text-decoration: none;
}
.designet__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;
}
.designet__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */
}
.designet__item_text{
    color:var(--designer-list-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.0rem;
    line-height: 3.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 180% */
}
.designet__text-special{
    color :var(--designer-listcolour);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 180% */
}
.tools__wrapper{
    width: 100%;
    max-width: 36rem;
    margin: 0 auto ;   
}
.tools__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 128.571% */
    justify-content: center;
    flex-wrap: wrap;
}
.tools__list{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.tools__item{
    color: var(--button-color);
    text-align: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7976rem; /* 128.398% */
    margin: 1.2rem 0.8rem;
}
.tools__list{
    text-align: center;
}
.tools__link{
    color: var(--tools__linktext);
    text-align: center;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7976rem; /* 128.398% */
}
.tools__link-special{
    background-color:rgba(255, 207, 1, 0.15);
    color: #FFCF01;
    font-family: Montserrat;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem;
    margin: 2.4rem 6.9rem 0rem 8rem;
    display: flex;
    width: 19rem;
    height: 4.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    text-decoration: none;   
}
.tools__img{
    margin: 0rem 1.8rem;
    border-radius: 1rem;
}
.cooperation__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Montserrat;
    margin-top: 8rem;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */
}
.cooperation__list{
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.cooperation__item{
    display: block;
    color: var(--button-color);
    text-align: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7976rem; /* 128.398% */
    margin: 5.4rem 1rem;
}
.cooperation__text{
    color:var(--head-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7976rem; /* 149.798% */
}
.cooperation__icon{
    display: flex;
    width: 8.4rem;
    height: 8.4rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2rem;
    border: 0.0957rem solid #2A3744;
    background: #121E28;
}
.help__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */
}
.help__list-images{
    display: flex;
    width: 11.5rem;
    height: 14rem;
    margin: 2.4rem 4.4rem 2.2rem 4.4rem  ;
    align-items: center;
}
.help__item-images{
    display: flex;
    width: 11.5rem;
    height: 14rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 2rem;
    border: 0.0957rem solid #2A3744;
    background: #121E28;
}
.help__text{
    color:var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.form__wrapper{
    width: 32.8rem;
    height: 28rem;
    text-align: center;
    border-radius: 2.2rem;
    border: 0.1rem solid #2A3744;
    background: #14212D;
    margin-left: auto;
    margin-right: auto;
}
.form__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */
}
.form__text{
    color:var(--font__text);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 147.368% */
}
.form__input{
    
    width: 27.9rem;
    height: 4.4rem; 
    align-items: center;
    border-radius: 1rem;
    border: 0.1rem solid #2A3744;
    background: #121E28;
    color:var(--bg-color);
    background-color: #0A1117;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem; /* 128.571% */
}
.form__input::placeholder{
    color:var(#3D4C5B);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.8rem; /* 128.571% */
}
.form__button{
    display: flex;
    color: #10151A;
    text-align: center;
    margin-top: 1.6rem;
    margin-left: auto;
    margin-right: auto ;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
    width: 28rem;
    padding: 1rem 0rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: var(--purple-light, #E2C1F9);
}
.supports__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */    
}
.supports__list {
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.supports__item {
    display:block;
    background-color: var(--bg-color);
    border: 0.1rem solid var(--newsletter-border-color);
    border-radius: 0.8rem;
    margin: 0.4rem;
    padding: 1.3rem 2.2rem;
}
.press__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */
}
.press__decicrypt{
    margin-top: 2.4rem;
    width: 32.8rem;
    height: 26.2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #77E6FF;
}
.decicrypt__image{
    width: 19.2rem;
    height: 5rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 11.6rem;
    padding-bottom: 1.2rem;
    flex-shrink: 0;
}
.decicrypt__headline{
    color:var(--bg-color);
    font-family: Montserrat;
    margin: 0rem;
    font-size: 1.8rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 0.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 133.333% */
}
.decicrypt__text{
    color:var(--bg-color);
    font-family: Montserrat;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
    margin:0rem;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem; /* 169.231% */
}
.decicrypt__link{
    color: #10151A;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    padding-left: 2rem;
    padding-right: 27rem;
    padding-bottom: 2rem;
    font-weight: 700;
    line-height: normal;
}
.press__blookwork{
    width: 32.8rem;
    height: 28.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.6rem;
    border-radius: 2rem;
    background: #E2C1F9;
}
.blookwork__image{
    width: 12.7rem;
    height: 2rem;
    padding-left: 2rem;
    padding-right: 18.1rem;
    padding-top: 3.5rem;
    padding-bottom: 2.6rem;
}
.blookwork__headline{
    color:var(--bg-color);
    margin: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 133.333% */
}
.blookwork__text{
    color:var(--bg-color);
    font-family: Montserrat;
    margin: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.8rem;
    padding-bottom: 2rem;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem; /* 169.231% */
}
.blookwork__link{
    color: #10151A;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 2rem;
    padding-bottom: 2rem;
    padding-right: 27rem;
}
.press__tech-crunch{
    width: 32.8rem;
    height: 28.4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    flex-shrink: 0;
    border-radius: 2rem;
    background: #DBE268;   
}
.tech-crunch__image{
    width: 14.2rem;
    height: 2.1rem;
    padding: 3.4rem 16.6rem 2.6rem 2rem
}
.tech-crunch__headline{
    color: #10151A;
    font-family: Montserrat;    
    font-size: 1.8rem;
    padding: 0rem 2rem 0rem 2rem;
    margin: 0rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 133.333% */
}
.tech-crunch__text{
    color: #10151A;
    font-family: Montserrat;
    font-size: 1.3rem;
    margin: 0rem;
    padding: 0.8rem 2rem 1.9rem 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem; /* 169.231% */
}
.tech-crunch__link{
    padding: 0rem 23.1rem 2rem 2rem   ;
    color: #10151A;
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.press__link{
    color:var(--tools__linktext) ;
    text-align: center;
    margin-left: 14.4rem;
    margin-top: 14.4rem;
    margin-bottom: 7.9rem;
    text-shadow: 0rem 0.2rem 2.5rem rgba(0, 0, 0, 0.60);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem; /* 177.778% */
    text-decoration: none;
}
.podcasts__headline{
    color: var(--head-color);
    text-align: center;
    font-family: Alexandria;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.6rem; /* 128.571% */
}
.podcasts__anthony-pompliano{
    width: 32.8rem;
    height: 23.6rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    background: #121E28;
    backdrop-filter: blur(0.2rem);
}
.anthony-pompliano__image{
    width: 4rem;
    height: 4rem;
    padding: 2.4rem 26.8rem 1.6rem 2rem;
    flex-shrink: 0;
    border-radius: 0.8rem;
}
.anthony-pompliano__headline{
    color:var(--head-color);
    font-family: Montserrat;
    padding: 0rem 1.9rem 0rem 2rem;
    margin: 0rem;
    font-size: 1.7rem;
    font-style: normal;
    text-align: left;
    font-weight: 700;
    line-height: 2.4rem; /* 141.176% */
    width: 28.8rem;
    height: 4.8rem;
}
.anthony-pompliano__text{
    color:var(--head-color);
    padding: 1.2rem 2rem 0rem 2rem;
    margin: 0rem;
    font-family: Montserrat;
    text-align: left;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 141.176% */
}
.anthony-pompliano__text2{
    color: #E2E2E2;
    font-family: Montserrat;
    padding: 0rem 2rem 0rem 2rem;
    margin: 0rem;
    text-align: left;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}
.anthony-pompliano__lin{
    color:var(--head-color);
    font-family: Montserrat;
    padding: 1.7rem 26.9rem 2rem 2rem;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.podcasts__josh-gordon{
    width: 32.8rem;
    height: 26rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    flex-shrink: 0;
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    background: #121E28;
}
.josh-gordon__image{
    width: 4rem;
    height: 4rem;
    padding: 2.4rem 26.8rem 1.6rem 2rem;
    flex-shrink: 0;
    border-radius: 0.8rem;
}
.josh-gordon__headline{
    color:var(--head-color);
    font-family: Montserrat;
    font-size: 1.7rem;
    text-align: left;
    padding: 0rem 2rem 1.2rem 2rem;
    margin: 0rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 141.176% */
}
.josh-gordon__text{
    color: #E2E2E2;
    font-family: Montserrat;
    font-size: 1.4rem;
    text-align: left;
    margin: 0rem;
    padding: 0rem 2rem 0rem 2rem ;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}
.josh-gordon__text2{
    color: #E2E2E2;
    font-family: Montserrat;
    font-size: 1.4rem;
    text-align: left;
    margin: 0rem;
    padding: 0rem 2rem 0rem 2rem ;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}
.josh-gordon__link{
    color:var(--head-color);
    font-family: Montserrat;
    font-size: 1.2rem;
    padding: 1.7rem 26.6rem 2rem 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.podcasts__andrew-stainwold{
    width: 32.8rem;
    height: 23.6rem;
    flex-shrink: 0;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    border-radius: 2rem;
    border: 0.2rem solid #2A3744;
    background: #121E28;
    backdrop-filter: blur(0.2rem);
}
.andrew-stainwold__image{
    width: 4rem;
    height: 4rem;
    flex-shrink: 0;
    border-radius: 0.8rem;
    padding: 2.4rem 26.6rem 0rem 2rem;
}
.andrew-stainwold__headline{
    color:var(--head-color);
    font-family: Montserrat;
    font-size: 1.7rem;
    padding: 1.6rem 2rem 1.2rem 2rem;
    text-align: left;
    margin: 0rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 141.176% */
}
.andrew-stainwold__text{
    color: var(--head-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    margin: 0rem;
    padding: 0rem 2rem 0rem 2rem;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}
.andrew-stainwold__text2{
    color: var(--head-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    margin: 0rem;
    padding: 0rem 4rem 0rem 2rem;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem; /* 171.429% */
}    
.andrew-stainwold__link{
    color:var(--head-color);
    box-sizing: ;
    font-family: Montserrat;
    font-size: 1.2rem;
    font-style: normal;
    text-align: left;
    padding: 1.7rem 26.9rem 2rem 2rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.podcasts__link_general{
    color:var(--tools__linktext) ;
    display: block;
    margin: 4rem 14.4rem 6rem 14.4rem;
    text-shadow: 0rem 0.2rem 2.5rem rgba(0, 0, 0, 0.60);
    font-family: Montserrat;
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 3.2rem; /* 177.778% */
}
.footer{
    display: flex;
    width: 36rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #121E28;
    gap: 3.1901rem;
}
.footer__wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 36rem;
    padding: 3.2rem 7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.1rem;
}
.footer__logo{
    width: 12.7rem;
    height: 2.1rem;

}
.footer__list-text{
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    list-style: none;
}
.footer__list-link{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    list-style: none;
}
.footer__text{
    color:var(--head-color);
    font-family: Montserrat;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}
.footer__link-1{
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10rem;
    background: rgba(119, 230, 255, 0.15);
}
.footer__link-2{
    background:rgba(119, 149, 255, 0.15);
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10rem;
}
.footer__link-3{
    background: rgba(247, 135, 135, 0.15);
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10rem;
}
.footer__link-4{
    background: rgba(146, 119, 255, 0.15);
    display: flex;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10rem;
}